#contact_modal {
    display: none;
    z-index: 1;
    position: fixed;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    width: 1240px;
    margin: 0 auto;
    display: flex;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.video-photographer{
    object-fit: cover;
}

.profile-photographer{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.photographer-contact{
    display: flex;
    justify-content: space-around;
    width: 1240px;
    align-items: center;
}

.information-photographer{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    position: relative;
}


.name-information-photographer{
    font-size: 64px;
    color: #D3573C;
    margin-bottom: 2px;
}


.city-information-photographer{
    color: #901C1C;
    font-size: 24px;
    margin-bottom: 2px;
}

.tagline-information-photographer{
    margin-top: 10px;
    font-size: 18px;
}

.picture-photographer{
    height: 300px;
    width: 350px;
    object-fit: cover;
}

.information-photo-video{
    display: flex;
    justify-content: space-between;
 width: 350px;
 color: #901C1C;
 font-size: 24px
}

.section-media{
    width: 1250px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-information-photo-video{
    margin-bottom: 25px;
}



.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}contact_modal

.modal header {
    justify-content: space-between;
    width: 100%;
}
.fa-heart{
    margin-left: 5px ;
}

.logo{
    height: 40px;
}

.price-like{
    position: fixed;
    bottom: 0px;
    right: 200px;
    width: 376px;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    background-color: #DB8876;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}
/* 
.price-like:hover{
    display: none;
} */

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}